assets/
**/*.min.js
node_modules/
vendor/
build/
.vscode/
.idea/
.sass-cache/
log/
.DS_Store
.project
Thumbs.db
*.log
*.map
yarn.lock
package-lock.json
pnpm-lock.yaml
bun.lock
*.zip
.npmrc
.env
tmp/
.phpunit.result.cache
test-results/
!tests/phpunit/revolux
*.phar
